<div class="col-lg-6 mb-4">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Monthly Income</h6>
        </div>
        <div class="card-body">
            <p>Bellow, input your monthly income:</p>
            <div class="form-group">
                <input type="text" class="form-control form-control-user edt-monthly-icone" id="edtMonthlyIncome"
                    aria-describedby="monthlyIncomeHelp" placeholder="Enter your monthly incone...">
            </div>
            <a href="#" class="btn btn-primary btn-icon-split mt-3 btn-save-income">
                <span class="icon text-white-50">
                    <i class="fas fa-save"></i>
                </span>
                <span class="text">Salvar</span>
            </a>
        </div>
    </div>
</div>