@{
    ViewData["Title"] = "Login";
}

<form>
    <div class="mb-3">
        <label for="userEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="userEmail" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="userPassword" class="form-label">Password</label>
        <input type="password" class="form-control" id="userPassword">
    </div>
    <button type="submit" class="btn btn-primary btn-log-in">Log in</button>
    <button type="button" class="btn btn-light">Forgot my password</button>
</form>

@section Scripts {
    <script src="~/js/pages/Login/index.js"></script>
    <script>
        LoginIndexJs.init({
            script: LoginIndexJs
        });
    </script>
}