@{
    ViewData["Title"] = "Home";
}

<main>
<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">We offer a modern solution to help you track your expenses</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">Learn more about our features</h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center text-lg-start">
                        <a href="#about"
                            class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Get Started</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="~/assets/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<section id="about" class="about">
    <div class="container" data-aos="fade-up">
        <div class="row gx-0">
            <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
                <div class="content">
                    <h3>About us</h3>
                    <h2>We know that keeping track of expenses is a complicated task</h2>
                    <p>
                        So we created this app. Or goal is to make expense tracking easy for you. Our app offers a dynamic interface that makes expense tracking simple and (why not?) fun.
                    </p>
                    <div class="text-center text-lg-start">
                        <a href="~/Account/User"
                            class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                            <span>Start using</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">
                <img src="~/assets/img/about.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
</main>